---
import type { NavigationItem } from "@/data/navigation";

type Props = {
  item: NavigationItem;
  currentPath: string;
};

const { item, currentPath } = Astro.props;
---

<li>
  <a
    href={item.path}
    class:list={{
      ["text-link hover:underline"]: `${item.path}` != `${currentPath}`,
      ["text-black dark:text-white font-semibold"]:
        `${item.path}` === `${currentPath}`,
    }}
  >
    {item.label}
  </a>
</li>
