---
import type { NavigationItem } from "@/data/navigation";

type Props = {
  item: NavigationItem;
  currentPath: string;
};

const { item, currentPath } = Astro.props;
---

<li>
  <a
    href={item.path}
    class:list={{
      ["dark:text-neutral-600 hover:text-neutral-950 dark:hover:text-neutral-100 hover:underline"]:
        `${item.path}` != `${currentPath}`,
      ["font-semibold"]: `${item.path}` === `${currentPath}`,
    }}
  >
    {item.label}
  </a>
</li>
