---
import Link from "@/components/shared/Link.astro";
import Badge from "@/components/shared/Badge.astro";
import type { Career } from "@/data/careers";

type Props = {
  career: Career;
};

const { career } = Astro.props;
---

<div class="flex flex-col gap-2">
  <h2 class="heading text-primary flex flex-row items-center gap-2">
    {career.rol}
    {career.current && <Badge text="Current" />}
  </h2>
  <div class="flex flex-row gap-3">
    {
      career.companies.map((career) => (
        <Link href={career.link} label={career.name} underline />
      ))
    }
  </div>
  <div class="text-sm font-normal leading-none">
    <time>{career.startDate}</time> - <time>{career.endDate}</time>
  </div>
  <a
    href={career.app.link}
    class="card mt-3 flex flex-wrap items-center rounded-md p-2 md:max-w-xl md:flex-row"
  >
    <img
      class="h-14 rounded-t-lg object-cover p-2 md:rounded-none md:rounded-s-lg"
      src={career.app.img}
      alt={career.app.name + " logo"}
      width="56"
      height="56"
    />
    <div class="flex flex-col justify-between gap-0 px-2 py-2 leading-normal">
      <h3 class="text-secondary font-medium">
        {career.app.name}
      </h3>
      <p class="text-secondary">
        {career.app.description}
      </p>
    </div>
  </a>
</div>
