---
import Badge from "@/components/shared/Badge.astro";
import ArrowIcon from "@/components/shared/icons/ArrowIcon.astro";
import type { Project } from "@/data/projects";

type Props = Project;

const { title, techs, link, isComingSoon } = Astro.props;
---

<>
  {
    isComingSoon && (
      <div class="flex w-full flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 md:flex-row md:items-center">
        <p class="font-medium">{title}</p>
        <div class="flex items-center gap-3">
          <div class="grow">
            {techs.map((tech) => (
              <Badge text={tech} />
            ))}
          </div>
          <p class="w-fit rounded-md bg-neutral-300 px-4 py-1 dark:bg-neutral-900">
            Soon
          </p>
        </div>
      </div>
    )
  }

  {
    !isComingSoon && (
      <a
        class="flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href={link}
        target="_blank"
        rel="noreferrer"
      >
        <p class="font-medium">{title}</p>
        <div class="flex items-center gap-3">
          <div class="grow">
            {techs.map((tech) => (
              <Badge text={tech} />
            ))}
          </div>
          <ArrowIcon />
        </div>
      </a>
    )
  }
</>
